#left {
   width:350px;
   height:350px;
   background-color: red;
   float: left;
   margin-left: 380px;
   border-radius: 50px;
}
#center {
   width:350px;
   height:350px;
   background-color: red;
   float: left;
   margin-left: 45px;
   border-radius: 50px;
}
#right {
   width:350px;
   height:350px;
   background-color: red;
   float: left;
   margin-left: 45px;
   border-radius: 50px;
}

body {
   background-image: url("img/images.jpg");
   background-repeat: repeat;
}
h1 {
  text-align: center;
  font-size: 80px;
  width: 500px;
  height: 100px;
  background: red;
  position: relative;
  -webkit-animation: myfirst 5s infinite; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
  animation: myfirst 5s infinite;
  animation-direction: alternate;
}
h2 {
text-align: center;
font-size: 50px;
}
#right:hover {
    transform: scale(1.5);
}
#left:hover {
    transform: scale(1.5);
}
#center:hover {
    transform: scale(1.5);
}
#canvas {
  height: 30px;
  width: 30px;
}
@keyframes myfirst {
    0%   {background: red; left: 500px; top: 0px;}
    25%  {background: yellow; left: 900px; top: 0px;}
    50%  {background: blue; left: 900px; top: 0px;}
    75%  {background: green; left: 500px; top: 0px;}
    100% {background: red; left: 500px; top: 0px;}
}
