#left {
   width:350px;
   height:350px;
   background-color: red;
   float: left;
   margin-left: 500px;
   border-radius: 50px;
}
#center {
   width:350px;
   height:350px;
   background-color: red;
   float: left;
   margin-left: 45px;
   border-radius: 50px;
}
#right {
   width:350px;
   height:350px;
   background-color: red;
   float: left;
   margin-left: 45px;
   border-radius: 50px;
}

body {
   background-image: url("img/images.jpg");
   background-repeat: repeat;
}
h1 {
  text-align: center;
}
h2 {
text-align: center;
}
#right:hover {
    transform: scale(1.5);
}
#left:hover {
    transform: scale(1.5);
}
#center:hover {
    transform: scale(1.5);
}
#canvas {
  height: 30px;
  width: 30px;
}
